@import url('./styles/header.css');
@import url('./styles/footer.css');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Josefin+Sans:wght@400;700&family=Poppins:wght@400;500;600&display=swap');

:root {
    --azul: #3772FF;
    --verde: #36D6AD;
    --coral: #FC7071;
    --creme: #FCF0E3;
    --cinza-escuro: #737380;
    --cinza-medio: #BCBCBC;
    --cinza-claro: #F6F6F6;
    --branco: #FFFFFF;
    --fonte-principal: 'Poppins', sans-serif;
    --fonte-secundaria: 'IBM Plex Sans', sans-serif;
}

body {
    font-family: var(--fonte-principal);
    background-image: url('./img/FormaTopo.svg'), url('./img/FormaMeio.svg'), url('./img/Ilustração1.svg');
    background-repeat: no-repeat;
    background-position: left top, right center, bottom 5em  center;
    min-height: 100vh;
}
.bg-azul{
    background-color: var(--azul);
    text-align: center;
    display: flex;
    flex-direction: column;

}

.conteudo {
    text-align: center;
    width: 70%;
    margin: 0 auto;
    flex-grow: 1;
}

.conteudo__titulo {
    color: var(--branco);
    font-family: var(--fonte-secundaria);
    font-size: 26px;
    font-weight: 500;
    line-height: 48px;
    letter-spacing: 0px;
    text-align: center;
}

.conteudo__texto {
    color: var(--branco);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: center;
}

.botao {
    font-size: 18px;
    font-weight: 700;
    color:var(--branco);
    line-height: 24px;
    text-decoration: none;
    letter-spacing: 0px;
    display: block;
    background-color: var(--coral);
    padding: 0.5em;
    width: 11em;
    margin: 0.5em auto;
    border-radius: 5px;
    box-shadow: 2px 2px 4px 0px #00000040;

}