body {
    font-family: var(--fonte-principal);
    background-image: 
    url('../img/Patas.png'),
    url('../img/FormaTopo.svg'), 
    url('../img/FormaMeioEsq.svg');
    background-repeat: no-repeat;
    background-position: top right, left top, left 70% ;
    min-height: 100vh;
}
.login{
    text-align: center;
    width: 85%;
    margin: 0 auto;
    flex-grow: 1;
}
.login__texto{
    color: var(--azul);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0px;
    text-align: center;
    margin-top: 2em;
    margin-bottom: 2em;
}
.form-group{

}

label{
    display: block;
    width: 312px;
    margin: 0.5em auto;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: center;
    color: var(--cinza-escuro);
}
input{
    width: 312px;
    padding: 1em;
    text-align: center;
    border-radius: 5px;
    background-color: var(--cinza-claro);
    border: none;
    box-shadow: 0px 2px 2px 0px #00000026;
    margin-bottom: 1em;
}
input::placeholder{
    color: var(--cinza-medio);
    font-family: Poppins;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0px;
    text-align: center;
}
.password::placeholder{
    background-image: url(../img/olho.png);
    background-repeat: no-repeat;
    background-position: 100%;
}
.login_img{
    margin-top: 2em;
}
.esqueci-senha{
    color: var(--coral);
    margin-bottom: 1em;
}
.botao{
    margin-top: 2em;
}
